<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% if title %}
                <title>SAC WEB - {{ title }}</title>
        {% else %}
                <title>SAC WEB</title>
        {% endif %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="./static/css/normalize.min.css">
        <link rel="stylesheet" href="./static/css/main.css">

        <!--[if lt IE 9]>
            <script src="js/vendor/html5-3.6-respond-1.4.2.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Monitorio - SAC </h1>
                <nav>
                    <ul>
                        <li><a href="./">Home</a></li>
                        <li><a href="./expediente">Sin datos</a></li>
                        <li><a href="#">Novedades</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            <div class="main wrapper clearfix">
              
               
              <aside>
                <div class="card">
                    <div class="container">
                    <img src="../static/img/default.png" alt="Avatar" style="width:40%">
                      <h4><b>Nombre: {{ procuradores.nombre }}</b></h4>
                      <p>Matricula: {{ procuradores.matricula }}</p>
                    </div>
                  </div>
              
                </aside>

            <header>
                <h1>Listado de Expedientes:</h1>
            </header>
              {% for exp in expedientes %}
                <article>
                      <div style="background-color: #0f3d63">
                        <p style="color: #bbbec0">Expediente: {{ exp[0] }}</p>
                        <p style="background-color: #78a0c0">Caratula: {{ exp[4] }}</p>
                        <p style="color: #bbbec0">Juzgado: {{ exp[5] }}</p>
                        <p style="background-color: #55f8f8"><a href="./movimientosexp/{{exp[0]}}">Ver movimientos</a></p>
                        </div>
                    
                </article>
              {% endfor %}



            </div> <!-- #main -->
        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>ross innov.</h3>
            </footer>
        </div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="./css/js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="./static/js/main.js"></script>
    </body>
</html>
